/* Reset de estilos e estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos do Navbar */
.navbar {
  background: linear-gradient(90deg, #00FFFF, rgb(0, 123, 255), rgb(100, 13, 173));
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.nav-items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: linear-gradient(90deg, rgb(0, 123, 255), rgb(100, 13, 173));
  top: 100%;
  left: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px 0; /* Adicionei padding para separar os itens do menu */
}

.dropdown-item {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-item:hover {
  background: linear-gradient(90deg, #4DA9FF, #BF49C5);
}

/* Reset de estilos e estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos do Navbar */
.navbar {
  background: linear-gradient(90deg, #00FFFF, rgb(0, 123, 255), rgb(100, 13, 173));
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.nav-items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: linear-gradient(90deg, rgb(0, 123, 255), rgb(100, 13, 173));
  top: 100%;
  left: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px 0; /* Adicionei padding para separar os itens do menu */
}

.dropdown-item {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-item:hover {
  background: linear-gradient(90deg, #4DA9FF, #BF49C5);
}

.logo {
  margin-right: 10px;
  width: 100px; /* Ajuste conforme necessário */
  height: auto;
}