.skills-table {
    border-collapse: collapse;
    width: 100%;
}

.skills-table caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.skills-table th, .skills-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.skills-table th {
    background-color: #f2f2f2;
}
